    div.header {
    font-family: 'Oswald';
    font-size: 24px;
      color: #000000;
      font-weight: 400
  }
    div.footer_edr {
    font-family: 'open sans';
    font-size: 10px;
      color: #000000;
      font-weight: 100
  }
    td.tagline {
    font-family: 'Oswald';
    font-size: 20px;
      color: #000000;
        font-weight: 400
  }
    td.login {
    font-family: 'Oswald';
    font-size: 22px;
      color: #000000;
        font-weight: 400
  }
    td.login2 {
    font-family: 'Oswald';
    font-size: 16px;
      color: #000000;
        font-weight: 400
  }
    td.footer_edr {
    font-family: 'open sans';
    font-size: 10px;
      color: #000000;

  }
    div.header2 {
    font-family: 'Oswald';
    font-size: 22px;
      color: #000000;
        font-weight: 200
  }
    input.login3 {
    font-family: 'Oswald';
    font-size: 16px;
      color: #000000;
        font-weight: 300
  }
      div.answer {
    font-family: 'Open Sans';
    font-size: 18px;
  }
      tr.header {
    font-family: 'Oswald';
    font-size: 24px;
  }
    td.header1 {
    font-family: 'Oswald';
    font-size: 24px;
        color: #000000;
  }
    td.header2 {
    font-family: 'open sans';
    font-size: 16px;
        color: #000000;
  }
    td.header3 {
    font-family: 'Oswald';
    font-size: 20px;
          color: #000000;
          font-weight: 200
  }
    td.header3 {
    font-family: 'Oswald';
    font-size: 20px;
        color: #000000;
        font-weight: 200
  }
      tr.answer {
    font-family: 'Open Sans';
    font-size: 18px;
  }
    p.header {
    font-family: 'Oswald';
    font-size: 24px;
        color: #000000;
        font-weight: 400
  }
      p.answer {
    font-family: 'Open Sans';
    font-size: 16px;
          color: #000000;
          font-weight: 100
  }
    p.answer2 {
    font-family: 'Oswald';
    font-size: 20px;
          color: #000000;
          font-weight: 200
  }
    span.header {
    font-family: 'Oswald';
    font-size: 24px;
        color: #000000;
        font-weight: 400
  }
    span.header2 {
    font-family: 'Oswald';
    font-size: 18px;
        color: #000000;
        font-weight: 400
  }
    span.header4 {
    font-family: 'Oswald';
    font-size: 24px;
        color: #000000;
        font-weight: 400
  }
      span.answer {
    font-family: 'Open Sans';
    font-size: 16px;
          color: #000000;
          font-weight: 100
  }
    span.answer2 {
    font-family: 'Oswald';
    font-size: 20px;
          color: #000000;
          font-weight: 200
  }

     ul.answer {
    font-family: 'Open Sans';
    font-size: 16px;
          color: #000000;
          font-weight: 100
  }
    ul.answer2 {
    font-family: 'Oswald';
    font-size: 20px;
          color: #000000;
          font-weight: 200
  }
    ol.numbered {
    font-family: 'Oswald';
    font-size: 20px;
          color: #000000;
          font-weight: 200
  }
    }
    li.listbold {
    font-family: 'Oswald';
    font-size: 24px;
        color: #000000;
        font-weight: 400;
    }
