@charset "utf-8";
/*     Tags    */
body {
    margin:0; padding:0;
}
form {
    width:auto; margin:auto;
}
input, select {
    border:#AAAAAA 1px solid; color:#000000; font-family:Verdana, Arial; font-size:11px; outline:none; padding:2px;
    border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;
    -webkit-transition:all 0.2s; -moz-transition:all 0.2s; transition:all 0.2s;
}
.input {
}
input:focus, select:focus {
    border:#0079B7 1px solid;
    -webkit-box-shadow:0px 0px 5px 0px rgba(0,121,183,0.5); -moz-box-shadow:0px 0px 5px 0px rgba(0,121,183,0.5); box-shadow:0px 0px 5px 0px rgba(0,121,183,0.5);
}
input:hover, select:hover {
    border:#0079B7 1px solid;
}
input[type="button"], input[type="reset"], inpit[type="submit"] {
    padding:4px 10px;
    border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;
}
/*    Links    */
#contentBody a {
    /*color:#0000FF;*/ color:#3953A4; text-decoration:underline;
}
#contentBody a:hover {
    /*color:#0000CC;*/ color:#282A73; text-decoration:underline;
}
/*     IDs     */
.mainContain #container {
    width:900px; text-align:left;
}
.mainContain #top {
    width:900px;
}
.mainContain #bop {
    padding:10px 0 0 0;
}
#blankSpot {
    height:4px;
}
#cartbox {
    position:absolute; visibility:hidden; z-index:10000; left:0px;
}
#statusNote {
  display:none; font-size:14px; padding-left:100px; padding-top:14px; width:800px;
}
/*   Classes   */
.whiteSpaceTB {
    padding:10px 0;
}
.dashedLine {
    border-width:4px; border-style:dashed; border-color:#808080; border-bottom-width:0; background-color:#FFFFEE;
}
.dashedLineBtm {
    border-width:4px; border-style:dashed; border-color:#808080; background-color:#FFFFEE;
}
.clearfloat {
    clear:both; height:0; font-size:1px; line-height:0px;
}
.boxpopupFrame {
    background:#FFFF99; background:#FBF49B; width:500px; padding:4px 5px; font-weight:bold; border-width:1px; border-style:solid; border-color:#808080; text-align:center;
}
.boxpopup {
    font-size:12px; color:#000000; width:auto; text-align:center; font-weight:bold; border-width:1px; border-style:solid; border-color:#808080;
}
.borderless {
    border-style:none; border-width:0;
}
.breakTimer {
    background:#FFFFFF; border:#AAAAAA 1px solid; padding:2px; text-align:center; width:300px;
    border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;
}
/* Order History (PHD) */
.phdTable input, .phdTable select {
    width:200px;
}
.phdTable #month1, .phdTable #day1, .phdTable #year1, .phdTable #month2, .phdTable #day2, .phdTable #year2, .phdTable #patcd {
    width:auto;
}
.phdTable input[type="radio"] {
    height:14px; width:14px;
}
.phdTable .phdHeader td {
    background:#22205F; color:#FFFFFF; font-size:12px; font-weight:bold;
}
.phdTable th {
    background:#CCCC99; text-align:left;
}
.phdTable td {
    background:#449CD5;
}
.phdTable .phdFooter td {
    background:none; text-align:center;
}
/*    Fonts    */
.f_FFFFFF_Bold {
    color:#FFFFFF; font-weight:bold; font-style:normal;
}
.f10_000000 {
    font-size:10px; color:#000000; font-weight:normal; font-style:normal;
}
.f10_000000_Bold {
    font-size:10px; color:#000000; font-weight:bold; font-style:normal;
}
.f10_336699_Bold {
    font-size:10px; color:#336699; font-weight:bold; font-style:normal;
}
.f10_666666 {
    color:#666666; font-size:10px;
}
.f10_FF0000 {
    font-size:10px; color:#FF0000; font-weight:normal; font-style:normal;
}
.f10_FF0000_Bold {
    font-size:10px; color:#FF0000; font-weight:bold; font-style:normal;
}
.f10_FFFFFF {
    font-size:10px; color:#FFFFFF; font-weight:normal; font-style:normal;
}
.f10_FFFFFF_Bold {
    font-size:10px; color:#FFFFFF; font-weight:bold; font-style:normal;
}
.f11_000000 {
    font-size:11px; color:#000000; font-weight:normal; font-style:normal;
}
.f11_000000_Bold {
    font-size:11px; color:#000000; font-weight:bold; font-style:normal;
}
.f11_51300C {
    font-size:11px; color:#51300C; font-weight:normal; font-style:normal;
}
.f11_FF0000_Bold_Italic {
    font-size:11px; color:#FF0000; font-weight:bold; font-style:italic;
}
.f11_FFFFFF {
    font-size:11px; color:#FFFFFF; font-weight:normal; font-style:normal;
}
.f12_000000 {
    font-size:12px; color:#000000; font-weight:normal; font-style:normal;
}
.f12_000000_Bold {
    font-size:12px; color:#000000; font-weight:bold; font-style:normal;
}
.f12_0000FF_Bold {
    font-size:12px; color:#0000FF; font-weight:bold; font-style:normal;
}
.f12_083E5A_Bold {
    font-size:12px; color:#083E5A; font-weight:bold; font-style:normal;
}
.f12_330F4F_Bold {
    font-size:12px; color:#330F4F; font-weight:bold; font-style:normal;
}
.f12_336699_Bold {
    font-size:12px; color:#336699; font-weight:bold; font-style:normal;
}
.f12_B6CFE3_Bold {
    font-size:12px; color:#B6CFE3; font-weight:bold; font-style:normal;
}
.f12_B90000_Bold {
    font-size:12px; color:#B90000; font-weight:bold; font-style:normal;
}
.f12_B90000_Bold_Italic {
    font-size:12px; color:#B90000; font-weight:bold; font-style:italic;
}
.f12_C6C6C6_Bold {
    font-size:12px; color:#C6C6C6; font-weight:bold; font-style:normal;
}
.f12_E7B210_Bold {
    font-size:12px; color:#E7B210; font-weight:bold; font-style:normal;
}
.f12_FF0000 {
    font-size:12px; color:#FF0000; font-weight:normal; font-style:normal;
}
.f12_FF0000_Bold {
    font-size:12px; color:#FF0000; font-weight:bold; font-style:normal;
}
.f12_FFFF00_Bold {
    font-size:12px; color:#FFFF00; font-weight:bold; font-style:normal;
}
.f12_FFFFFF {
    font-size:12px; color:#FFFFFF; font-weight:normal; font-style:normal;
}
.f12_FFFFFF_Bold {
    font-size:12px; color:#FFFFFF; font-weight:bold; font-style:normal;
}
.f14_000000 {
    font-size:14px; color:#000000; font-weight:normal; font-style:normal;
}
.f14_000000_Bold {
    font-size:14px; color:#000000; font-weight:bold; font-style:normal;
}
.f14_0000CC_Bold {
    font-size:14px; color:#0000CC; font-weight:bold; font-style:normal;
}
.f14_336699_Bold {
    font-size:14px; color:#336699; font-weight:bold; font-style:normal;
}
.f14_3EB8B4_Bold {
    font-size:14px; color:#3EB8B4; font-weight:bold; font-style:normal;
}
.f14_B90000_Bold {
    font-size:14px; color:#B90000; font-weight:bold; font-style:normal;
}
.f14_ED2024_Bold {
    font-size:14px; color:#ED2024; font-weight:bold; font-style:normal;
}
.f14_FF0000_Bold {
    font-size:14px; color:#FF0000; font-weight:bold; font-style:normal;
}
.f16_000000_Bold {
    font-size:16px; color:#000000; font-weight:bold; font-style:normal;
}
.f16_336699_Bold {
    font-size:16px; color:#336699; font-weight:bold; font-style:normal;
}
.f16_FF0000_Bold {
    font-size:16px; color:#FF0000; font-weight:bold; font-style:normal;
}
.f18_000000_Bold {
    font-size:18px; color:#000000; font-weight:bold; font-style:normal;
}
.f18_006600_Bold {
    font-size:18px; color:#006600; font-weight:bold; font-style:normal;
}
.f18_336699_Bold {
    font-size:18px; color:#336699; font-weight:bold; font-style:normal;
}
.f18_336699_Bold_Italic {
    font-size:18px; color:#336699; font-weight:bold; font-style:italic;
}
.f18_FF0000_Bold {
    font-size:18px; color:#FF0000; font-weight:bold; font-style:normal;
}
.f20_000000_Bold {
    font-size:20px; color:#000000; font-weight:bold; font-style:normal;
}
.f20_0000FF_Bold {
    font-size:20px; color:#0000FF; font-weight:bold; font-style:normal;
}
.f20_FF0000_Bold {
    font-size:20px; color:#FF0000; font-weight:bold; font-style:normal;
}
.f24_336699_Bold {
    font-size:24px; color:#336699; font-weight:bold; font-style:normal;
}
.f24_FF0000_Bold {
    font-size:24px; color:#FF0000; font-weight:bold; font-style:normal;
}
.f40_0056C2 {
    font-size:40px; color:#0056C2; font-weight:normal; font-style:normal;
}
.S20_0000FF_Bold_Italic {
    font-family:serif; font-size:20px; color:#0000FF; font-weight:bold; font-style:italic;
}
.red {
    color:#ED2024; font-weight:bold;
}
.red_lt {
    color:#ED2024; font-weight:normal;
}
.white {
    color:#FFFFFF;
}
.prod {
    font-size:10px; color:#FFFFFF; font-weight:bold; font-style:normal;
}
.green {
    /*color:#006600;*/ color:#146734;
}
/*Miscellaneous*/
.pad12TopBtm {
    padding:12px 0;
}
.pad12Btm {
    padding:0 0 12px 0;
}
.pad12Top {
    padding:12px 0 0 0;
}
.blackBGlink {
    /*color:#CCCCFF;*/ color:#CECBE6;
}
.formLine {
    border-bottom-style:solid; border-bottom-width:1px; border-bottom-color:#000000;
}
.brcr_000000 {
    border-style:solid; border-color:#000000;
}
.brcr_000099 {
    border-style:solid; border-color:#000099;
}
.brcr_449CD5 {
    border-style:solid; border-color:#449CD5;
}
.brcr_B0D2FF {
    border-style:solid; border-color:#B0D2FF;
}
.brcr_CCCCCC {
    border-style:solid; border-color:#CCCCCC;
}
.brcr_FFFFCC {
    border-style:solid; border-color:#FFFFCC;
}
.brcr_FFFFFF {
    border-style:solid; border-color:#FFFFFF;
}
.imageUndlnOff {
    display:block; margin-bottom:-12px;
}
.bgProp {
    background-repeat:no-repeat; background-position:top left;
}
.aprvRow td {
    border-bottom:#000099 1px solid;
}
.phdLst th {
    color:#FFFFFF; background-color:#000066; font-weight:bold;
}
#expoAd {
    text-align:center; font-size:10px; font-weight:bold; padding-bottom:12px;
}
#formHeads th {
    background:#0079B7; font-size:12px; color:#FFFFFF; font-weight:bold; text-align:left; padding:2px;
}
#repImg {
    border:#232020 1px solid;
}
#invList, #bakList, #supList {
    top:1px; left:1px;
}
#pReports {
    font-size:10px; font-weight:bold; border:#0079B7 1px solid; padding:1px; margin-top:1px;
    border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;
}
/*   LenStore  */
.cls_frame {
    padding:4px;
    border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;
}
.cls_fbuttons input {
    font-size:12px; width:150px;
}
.cls_TblHead th, .cls_TblHead td {
    padding:2px;
}
.cls_TblHead th {
    font-size:14px; text-align:left;
}
.cls_tabs a {
    font-size:12px; font-weight:bold; color:#EEEEEE !important; display:block; width:160px; background:#232021; padding:4px 0; margin:0 2px; float:left; text-align:center;
    border-radius:8px 8px 0px 0px; -moz-border-radius:8px 8px 0px 0px; -webkit-border-radius:8px 8px 0px 0px;
}
#cls_head td {
    color:#282425; font-size:24px; font-weight:bold; padding:8px; text-align:center;12
}
#cls_links {
    text-align:center;
}
#cls_links td {
    padding:8px;
}
#newUsers a, #rtnUsers a {
    display:inline-block; font-size:12px; font-weight:bold; padding:4px; margin:1px; text-align:center; text-decoration:none; width:200px;
    border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;
}
#newUsers a, #rtnUsers a {
    -webkit-transition:all 0.2s; -moz-transition:all 0.2s; transition:all 0.2s;
}
#newUsers a {
    background:rgba(105,189,69,0.05); border:#69BD45 1px solid; color:#3F702A;
}
#rtnUsers a {
    background:rgba(57,83,164,0.05); border:#3953A4 1px solid; color:#1E2D57;
}
#newUsers a:hover {
    background:#69BD45; color:#FFFFFF;
}
#rtnUsers a:hover {
    background:#3953A4; color:#FFFFFF;
}
/* Holiday message */
#hldyMsg {
  background:url(/edrv2r1/fireworks/holiday.png?v=20161222c) bottom no-repeat; color:#000000; font-family:Cambria, Times, Times New Roman, serif; font-size:21px; font-style:italic; font-weight:bold; height:209px; padding:0;
  width:510px; text-align:left;
  text-shadow:rgb(255, 255, 255) 2px 0px 0px, rgb(255, 255, 255) 1.75517px 0.958851px 0px, rgb(255, 255, 255) 1.0806px 1.68294px 0px, rgb(255, 255, 255) 0.141474px 1.99499px 0px, rgb(255, 255, 255) -0.832294px 1.81859px 0px, rgb(255, 255, 255) -1.60229px 1.19694px 0px, rgb(255, 255, 255) -1.97998px 0.28224px 0px, rgb(255, 255, 255) -1.87291px -0.701566px 0px, rgb(255, 255, 255) -1.30729px -1.5136px 0px, rgb(255, 255, 255) -0.421592px -1.95506px 0px, rgb(255, 255, 255) 0.567324px -1.91785px 0px, rgb(255, 255, 255) 1.41734px -1.41108px 0px, rgb(255, 255, 255) 1.92034px -0.558831px 0px;
}
