@charset "utf-8";
html {
	position:absolute; top:0; left:0; bottom:0; right:0; overflow-y:scroll; overflow-x:hidden;
}
::-webkit-scrollbar {
	width:10px; height:10px;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow:inset 0 0 10px rgba(0,121,183,1); -webkit-border-radius:5px; border-radius:5px;
}
::-webkit-scrollbar-thumb {
	-webkit-border-radius:5px; border-radius:5px; background:rgba(34,31,31,1); -webkit-box-shadow:inset 0 0 2px rgba(0,0,0,0.5);
	 background-image:-webkit-linear-gradient(90deg, transparent, rgba(255,255,255,0.3) 50%, transparent, transparent);
}
::-webkit-scrollbar-thumb:hover {
	background:rgba(241,29,36,1);
	background-image:-webkit-linear-gradient(90deg, transparent, rgba(35,32,32,0.3) 50%, transparent, transparent);
}
body, form {
	font-family: 'Lato', sans-serif; font-size:16px; line-height: 1.25em; font-weight: 100; letter-spacing: .5px;
}
a {
	text-decoration:none !important; color:#3953A4;
}
a:visited {
	color:#3953A4;
}
a:hover, a:active {
	color:#ED2024;
}
.mainContain {
	background-color:#FFFFFFF;
}
.mainContain #container {
	width:1000px; text-align:left; margin:6px auto;
}
/*       TOP style        */
#edr_top {
	width:1100px; height:200px; margin:0; padding:0; text-align:left; background-image:url(/edrv2r1/include/images/edr4_header.png); background-size:1000px 170px; background-repeat:no-repeat; background-position:top left;
}

#edr_top1 #addSpace {
	display:none;
}
#missStmt {
	padding:5px; float:left; margin:2px 8px; text-align: justify;
	/*-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;
	-webkit-box-shadow:1px 1px 1px 1px rgba(0,0,0,0.5); -moz-box-shadow:1px 1px 1px 1px rgba(0,0,0,0.5); box-shadow:1px 1px 1px 1px rgba(0,0,0,0.5);*/
}
#headIncl {
	padding-top:20px;
}
#addSpace {
	height:160px; padding:10px 220px 0 200px; overflow:hidden;
}
#edr_topnavi {
	margin:200; padding:0; z-index:20; padding:10px 200px 0 140px;
}
#edr_topnavi li {
	margin:0; padding:0; list-style:none; float:left; font-family: 'Lato', sans-serif; font-size:14px; font-weight: 400;
}
#edr_topnavi li a {
	display:block; margin:0 1px 0 1px; padding:5px 0; width:120px; background:#0079B7; color:#FFFFFF; text-align:center; text-decoration:underline; border-bottom:#232020 1px solid;
	
}
#edr_topnavi li a:hover {
	background:#232020; color:#EEEEEE;
}
#edr_topnavi div {
	position:absolute; visibility:hidden; margin:0; padding:0; background:none; border:0; z-index:1000000;
}
#edr_topnavi div a {
	position:relative; display:block; margin:0 1px; padding:3px 2px; width:110px; white-space:nowrap; text-align:left; text-decoration:underline; background:#0079B7;
	color:#FFFFFF; font-family:Verdana; font-size:12px; border:none; overflow:hidden;
	/* no fillet */
	-webkit-border-radius:0; -moz-border-radius:0; border-radius:0;
	/* box shadow */
	-webkit-box-shadow:1px 1px 0px 0px rgba(0,0,0,0.5); -moz-box-shadow:1px 1px 0px 0px rgba(0,0,0,0.5); box-shadow:1px 1px 0px 0px rgba(0,0,0,0.5);
}
#edr_topnavi div a:hover {
	background:#232020;
}
.subtitle {
	text-align:center; padding:25px 0 25px 300px;
}
#cartbox {
	-webkit-box-shadow:2px 2px 1px 1px rgba(0,0,0,0.3); -moz-box-shadow:2px 2px 1px 1px rgba(0,0,0,0.3); box-shadow:2px 2px 1px 1px rgba(0,0,0,0.3);
}
#cart_menu a {
	width:205px !important;
}
#quoteBox {
	height:50px;
}
/*     end TOP style      */
.mainContain #lop {
	/* float:left; width:165px; padding:0; */ display:none;
}
.mainContain #contentBody {
	/* margin:0 0 0 167px; */ margin:0; padding:0 0 0 4px; text-align:right;
}
.mainContain #contentBody, .mainContain #fullBody {
	margin:0 11px; padding:10px; text-align:right;
}
#edr_topnavi #cart_menu {
}
#edr_btnPad td {
	padding-top:50px;
}
#edr_btnPad {
	margin-bottom:50px;
}
.listPad {
	padding:12px 100px;
}
.mfrLogos, #logo, #proGraphic {
	background-color:#FFFFFF; padding:5px; float:left; margin:2px 8px; white-space:nowrap;
	-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;
	-webkit-box-shadow:1px 1px 1px 1px rgba(0,0,0,0.5); -moz-box-shadow:1px 1px 1px 1px rgba(0,0,0,0.5); box-shadow:1px 1px 1px 1px rgba(0,0,0,0.5);
}
.mfrLogos {
  display:table-cell; min-width:150px; height:42px; text-align:center; vertical-align:middle; line-height:42px; white-space:nowrap;
}
.mfrLogos img {
  position:relative; top:50%; transform:translateY(-50%);
}
.aspex {
	background:-webkit-linear-gradient(left, #EFEFEF, #FFFFFF);
	background:-o-linear-gradient(right, #EFEFEF, #FFFFFF);
	background:-moz-linear-gradient(right, #EFEFEF, #FFFFFF);
	background:linear-gradient(to right, #EFEFEF, #FFFFFF);
}
#logo {
	float:right !important;
}
#mfgBox {
	margin-top:190px;
}
.boxpopup table {
	font-size:10px !important;
	1px 0px 0px rgba(0,0,0,0.5)
}
.\
#slides {
	position:absolute; top:0; left:0; z-index:100; background-color:#F8F8FF; padding:4px;
}
#slideScreen {
	margin:0 auto;
}
.slides_container {
	-ms-touch-action:pan-y; overflow:auto; position:relative; touch-action:an-y; width:500px;
}
#slideScreen {
	width:100px; height:115px; position:relative;
}
.as-nav {
	top:130px; left:50%; margin-left:-125px; position:absolute; text-align:right; width:520px; z-index:1;
}
.as-nav a {
	background:url(/edrv2r1/slides/bullets.png) no-repeat; height:16px; display:inline-block; margin:0 1px; overflow:hidden; text-indent:100%; white-space:nowrap; width:16px;
}
a.as-active, .as-nav a:hover {
	background-position:0 -16px;
}
#invList, #bakList, #supList {
	position:absolute; visibility:hidden; margin:0; padding:0; background:none; border:0; background:#C7D1EB;
	-webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px;
	-webkit-box-shadow:3px 3px 2px 0px rgba(0,0,0,0.5); -moz-box-shadow:3px 3px 2px 0px rgba(0,0,0,0.5); box-shadow:3px 3px 2px 0px rgba(0,0,0,0.5);
}
#invList {
	z-index:2000000;
}
#bakList {
	z-index:3000000;
}
#supList {
	background:#ABDFE9; z-index:4000000;
}
#invList a, #bakList a, #supList a {
	position:relative; display:block; margin:0 1px; padding:5px; width:134px; white-space:nowrap; text-align:left; text-decoration:underline; background:#C7D1EB;
	color:#000000; font-family:Verdana; font-size:12px; border:none; overflow:hidden; font-weight:bold;
}
#supList a {
	background:#ABDFE9;
}
#invList a:hover, #bakList a:hover, #supList a:hover {
	background:#E2E8F5; color:#000000; font-weight:bold;
}
#supList a:HOVER {
	background:#D5EFF4;
}
#invList .radTop, #bakList .radTop, #supList .radTop {
	-webkit-border-top-left-radius:10px; -webkit-border-top-right-radius:10px; -moz-border-radius-topleft:10px; -moz-border-radius-topright:10px;
	border-top-left-radius:10px; border-top-right-radius:10px;
}
#invList .radBtm, #bakList .radBtm, #supList .radBtm {
	-webkit-border-bottom-left-radius:10px; -webkit-border-bottom-right-radius:10px; -moz-border-radius-bottomleft:10px; -moz-border-radius-bottomright:10px;
	border-bottom-left-radius:10px; border-bottom-right-radius:10px;
}
#bop {
	width:1000px; margin:auto;
}
#tdNotice {
	padding:12px 0 50px 0;
}
#loginBtn a {
	display:inline-block; background:#0079B7; width:60px; text-align:center; margin-left:8px; font-size:12px; color:#FFFFFF; font-weight:bold; padding:2px;
	-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;
	-webkit-box-shadow:1px 1px 1px 0px rgba(0,0,0,0.25); -moz-box-shadow:1px 1px 1px 0px rgba(0,0,0,0.25); box-shadow:1px 1px 1px 0px rgba(0,0,0,0.25);
}
#loginBtn a:hover {
	background:#232020;
}
input, select {
	font-size:11px; padding:2px;
}
#CNAME, #CPRCNM, #DOM, #DOD, #DOY, #SSAREA, #SSGROUP, #SSSERIAL, #FEDTXID, #OPAREA, #OPXCHG, #OPNUM, #OFAREA,
#OFXCHG, #OFNUM, #CEMAIL, #CCONAT, #CCONGP, #CCONCT, #CCONLB, #CCONFR, #CBILNM, #CADR1, #CSADR1, #CADR2, #CSADR2,
#CCITY, #CSCITY, #CZIPc, #CZIP4c, #CSZIPc, #CSZIP4c, #CUSRID, #CUPSWD, #verify, #sname, #smiddle, #slast {
	width:150px; border:#808080 1px solid;
	-webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;
}
#DOM, #DOD, #DOY, #SSAREA, #SSGROUP, #SSSERIAL, #OPAREA, #OPXCHG, #OPNUM, #OFAREA, #OFXCHG, #OFNUM, #CZIPc, #CZIP4c, #CSZIPc, #CSZIP4c {
	width:33px;
}
#smiddle {
	width:15px;
}
#CSTATE, #CSSTATE, #CWHEAR {
	width:156px; border:#808080 1px solid; padding:0;
	-webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;
}
input[name="CPROFC"], input[name="CTYPPC"], #CNOFAX, #CNOEML, #CNOCAL, #CNOPHO {
}
#B1, #B2 {
	width:125px;
}
#wplu {
	border:#232020 1px solid;
	-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;
}
#wplu th {
	font-size:14px; padding:4px; color:#0079B7;
}
#wplu td {
	padding:8px; background:#FFFFFF;
	-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;
}
#breadCrumbs {
	font-size:10px; font-weight:bold; text-align:left;
}
.ad_logos {
	background-color:#FFFFFF; padding:5px; width:80%
	-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;
	-webkit-box-shadow:1px 1px 1px 1px rgba(0,0,0,0.5); -moz-box-shadow:1px 1px 1px 1px rgba(0,0,0,0.5); box-shadow:1px 1px 1px 1px rgba(0,0,0,0.5);
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) { 
	#edr_topnavi li a {
		font-size:26px;
	}
	#missStmt {
		font-size:18px; width:480px;
	}
	.subtitle {
		padding-top:50px;
	}
	#login table {
		font-size:20px !important;
	}
	input[name="Name"], input[name="Password"] {
		font-size:30px; width:280px;
	}
	#loginBtn a {
		width:80px; margin-left:8px; font-size:20px; padding:2px;
	}
}