<!DOCTYPE html>
<html lang="en">
<head>
    <title>E-DR API Documents</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/nolog1-style_new.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/exstyle.css') }}">
    <link rel="shortcut icon" href="{{ url_for('.static', filename='img/edr_icon.ico') }}" />
</head>
<table width="400" border="0" cellpadding="4" align="center">
    <tbody>
        <tr>
            <td align="center"><img src="{{ url_for('.static', filename='img/edr_2019_logo.png') }}" width="250" height="196" alt=""/></td>
        </tr>
        <tr>
            <td valign="top" align="center">
                <table border="0" align="top" cellpadding="2" cellspacing="0" width="400" bgcolor=#e3f1f7>
                    <tr>
                        <td align="center" class="login"><br>E-Dr API Documentation</td>
                    </tr>
                    <tr>
                        <td align="center">
                            <table width="300" border="0" cellpadding="10" cellspacing="0">
                                <tr>
                                    <td align="center" class="login2">Thank you for your interest in using the E-Dr API to serve your needs.</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center"><h4><a href="{{ url_for('.download_docs') }}"><img src="{{ url_for('.static', filename='img/download_button.png') }}" width="150" alt="Download"/></a></h4></td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>
</html>
